lefine.pro, www.lefine.pro {
	reverse_proxy kefine-frontend:5173
}

problemsets.lefine.pro {
	reverse_proxy exchange:7277
}

exchange.lefine.pro {
	redir https://problemsets.lefine.pro{uri} 301
}

source.lefine.pro {
	reverse_proxy forgejo:3000
}
