<kf-landing-page>
  <kf-landing-hero
    slogan="Deadline's on fire — but the fix is already in hand."
    placeholder="Select a use-case"
    data-url="/data/use-cases.json"
    enable-analytics
    aria-label="Main hero section"
  >
  </kf-landing-hero>

  <kf-use-case-section
    id="use-cases"
    title="Use-Cases"
    learn-more-text="Learn More"
    auto-rotate
    auto-rotate-interval="5000"
    aria-label="Use-case examples section"
  >
  </kf-use-case-section>
</kf-landing-page>
